*,
*::before,
*::after {
  margin: 0;
}

:root {
  --color-dark: #2e2e2e;
  --color-blue: #00697f;
  --color-cyan: #89d3e2;
  --color-green: #8ed54c;
  --color-white: #fafafa;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
}

a {
  color: inherit;
}

.hero {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.hero__image {
  max-width: 100%;
  height: auto;
}

figcaption {
  padding: 0.25em;
}
